body {
	display: flex;
	align-items: center;
	height: 100vh;
	flex-direction: column;
	font-family: 'Courier New', Courier, monospace;
	text-decoration-color: blueviolet;
	color: rgb(233, 101, 24);
}

h2 {
	text-align: center;
	margin-bottom: 40px;
}

input {
	padding: 10px;
	margin: 30px 30px;
}
form {
	padding: 15px;
}	
label {
	padding: 10px;
}

button {
	padding: 10px 15px;
}

.error {
   padding: 20px;
   margin: 30px 30px;
}

.success {
   padding: 20px;
   margin: 30px 30px;
}

h1 {
	text-align: center;
}

.ca {
	padding: 30px;
}

.home-nav a {
	padding: 30px;
}
